-bash
curl
htop
nano
vim-full
iperf
libcap
libcap-bin
rsync
rsyncd
bind-dig
bind-host
openssh-sftp-client
openssh-sftp-server
xl2tpd
ppp-mod-pptp
bsdtar
bzip2
gzip
unzip
lsblk
lscpu
nano
vim-full
zsh
screen
tmate
tmux
tree
whereis
libustream-openssl
ca-bundle
ca-certificates
luci-app-cpufreq
luci-app-firewall
luci-app-frpc
luci-app-nlbwmon
luci-app-openclash
luci-app-passwall
luci-app-wireguard
luci-app-zerotier
luci-i18n-argon-config-zh-cn
luci-i18n-aria2-zh-cn
luci-i18n-base-zh-cn
luci-i18n-commands-zh-cn
luci-i18n-ddns-zh-cn
luci-i18n-filetransfer-zh-cn
luci-i18n-firewall-zh-cn
luci-i18n-frpc-zh-cn
luci-i18n-gowebdav-zh-cn
luci-i18n-n2n_v2-zh-cn
luci-i18n-netdata-zh-cn
luci-i18n-nlbwmon-zh-cn
luci-i18n-nps-zh-cn
luci-i18n-opkg-zh-cn
luci-i18n-passwall-zh-cn
luci-i18n-samba-zh-cn
luci-i18n-smartdns-zh-cn
luci-i18n-softethervpn-zh-cn
luci-i18n-ssr-plus-zh-cn
luci-i18n-transmission-zh-cn
luci-i18n-ttyd-zh-cn
luci-i18n-turboacc-zh-cn
luci-i18n-webadmin-zh-cn
luci-i18n-wireguard-zh-cn
luci-i18n-wrtbwmon-zh-cn
luci-i18n-zerotier-zh-cn
luci-theme-argon
luci-theme-argonv3
luci-theme-material
