-bash
curl
htop
nano
vim-full
iperf
libcap
libcap-bin
rsync
rsyncd
bind-dig
bind-host
openssh-sftp-client
openssh-sftp-server
xl2tpd
ppp-mod-pptp
bsdtar
bzip2
gzip
unzip
lsblk
lscpu
nano
vim-full
zsh
screen
tmate
tmux
tree
whereis
libustream-openssl
ca-bundle
ca-certificates
luci-app-cpufreq
luci-app-firewall
luci-app-frpc
luci-app-nlbwmon
luci-app-openclash
luci-app-passwall
luci-app-wireguard
luci-app-zerotier
luci-theme-argon
luci-theme-material
